body {
   margin: 0;
   /*background: url('Img/salon.jpg');*/
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;

}
.contenedor{
    width: 100%;
    padding:400px;


   

}
.formulario{
    background: #fff;
    margin-top: -300px;
    padding: 3px;
    align-content: center;
    background-color: rgba(0,0,0,0.4); 
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: optima;
}
input[type="text"],
input[type="password"],
input[type="mail"],
input[type="num"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    color: black;
   background-color: rgba(255,255,255,0.5);
 }

.btn{
font-size: 20px;
   text-decoration: none;
   margin: 10px 20px;
   display: inline-block;
   background: #F39B1A;
   color: white;
   padding: 10px 20px;
   width: 90%;
   text-align: center;
}






.input-contenedor{
    margin-bottom: 20px;

}
.registro{
  font-size: 20px;
   text-decoration: none;
   margin: 10px 20px;
   display: inline-block;
   background: #F39B1A;
   color: white;
   padding: 10px 20px;
   width: 90%;
   text-align: center;
}

a{

   font-size: 20px;
   text-decoration: none;
   margin: 10px 20px;
   display: inline-block;
   background: #F39B1A;
   color: white;
   padding: 10px 20px;
   width: 90%;
   text-align: center;
}




















